[Desktop Entry]
Encoding=UTF-8
Name=YapStocks
Comment=Yet Another Plasma Stocks Applet
Type=Service
Icon=../plasma/plasmoids/com.librehat.yapstocks/contents/ui/finance.svg
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Simeon Huang
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Email=symeon@librehat.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=com.librehat.yapstocks
X-KDE-PluginInfo-Version=4.5
X-KDE-PluginInfo-Website=https://github.com/librehat/yapstocks
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
